{% extends "base.html" %}
{% block content %}
<div class="full-width-bar"></div>
<p></p>
<p></p>
<p></p>

<svg class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
    <rect width="100%" height="100%" fill="#777"></rect>
    <image href="/static/img/DSCF5812.jpg" width="200" height="200" preserveAspectRatio="xMidYMid slice"></image>
</svg>

<p></p>
<p></p>
<p></p>
<p class="lead"> Hi! I'm Neil! </p>

<p>I am a San Francisco based <b>senior machine learning engineer</b> working at <a href="https://www.climate.com">Climate</a>, where I help build tools for farmers to analyze their data and optimize their farming operations.</p>

<p>I specialize in building end to end machine learning platforms with a focus on maintainabilty, reproducability and scalability.</p>

<p>Have a look at some of my hobby <a href="{{ url_for('projects') }}">projects</a>.</p>

<p>Feel free to check out my <a href="{{ url_for('resume') }}">resume</a>.</p>

<p>I can be reached my <a href="mailto:indraneil.bardhan@gmail.com">email</a>.</p>

{% endblock %}
