{% extends "base.html" %}
{% block content %}
<h1>Neil Bardhan</h1>

<div class="image-cropper">
 	<!-- <div class="w3-card-4"> -->
 		<!-- <img src="/static/img/DSCF5812.jpg" alt="picture"> -->
 	<!-- </div> -->
 	<!-- <img id="main" src="/static/img/DSCF5812.jpg" alt="Photo" style="float:left;width:196px;height:350px;margin-right: 30px;margin-bottom: 30px;"> -->
	<!-- <img src = "/static/img/DSCF5812.jpg" alt = "Photo" class="rounded">  -->
</div>

<p>Senior Machine Learning Engineer | 8 years experience | San Francisco</p>

<h2>Experience</h2>
<ul>
    <li>R4 – Senior Data Scientist</li>
    <li>R4 – Data Scientist</li>
</ul>

<h2>Education</h2>
<p>M.S. in Information Science</p>
{% endblock %}
